<% provide(:title, "About") %>
<h1>About</h1>

<p>About Clinton O'Neal
I have always enjoyed figurative work; within my work I focus on the color I find while working with the figure. 
At times I am influenced by how our skin reacts to the different light in which it is placed. Other times the colors I 
place in my work are emotions I feel towards my subject. Lastly the color of my figures sometimes comes from imagination,
manipulation or even the use of certain colors that I feel will create confusion to the viewer as they look upon my work</p>